{% extends 'base.html' %}
{% load static %}

{% block content %}

<section>
  <div class="header-inner two">
    <div class="inner text-center">
      <h4 class="title text-white uppercase">Webstacka</h4>
      <h5 class="text-white uppercase">be digital be better</h5>
    </div>
    <div class="overlay bg-opacity-5"></div>
    <img src="{% static 'images/servers.jpg' %}" alt="" class="img-responsive"/> </div>
</section>
  <!-- end header inner -->
  <div class="clearfix"></div>

  <section>
    <div class="pagenation-holder">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3>Contact Us</h3>
          </div>
          <div class="col-md-6 text-right">
            <div class="pagenation_links"><a href="{% url 'home' %}">Home</a><i> / </i> <a href="{% url 'contact_us' %}">Contact</a></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--end section-->
  <div class="clearfix"></div>



  <section class="sec-padding">
    <div class="container">
      <div class="row">

      <div class="col-md-8">
        <div class="smart-forms bmargin">


            <h3>Contact Form</h3>
            <p>We are here to help and anwser any questions or requests you may have, we look forward to hearing from you</p>
            <br/>
            {% include 'includes/alerts.html' %}
            <br/>

            <form method="POST" action="{% url 'contact_us' %}">
              {% csrf_token %}
              <div>
                <div class="section">
                  <label  for="{{ form.full_name.id_for_label }}" class="field prepend-icon">
                    <!-- <input type="text" name="full_name" id="full_name" class="gui-input" placeholder="Enter Fullname"> -->
                    {{ form.full_name }}
                    <span class="field-icon"><i class="fa fa-user"></i></span> </label>
                    {% for err in form.full_name.errors %}
                      <small class="text-danger">{{ err }}</small>
                    {% endfor %}
                </div>
                <!-- end section -->

                <div class="section">
                  <label for="{{ form.email.id_for_label }}" class="field prepend-icon">
                    <!-- <input type="email" name="email" id="email" class="gui-input" placeholder="Email address"> -->
                    {{ form.email }}
                    <span class="field-icon"><i class="fa fa-envelope"></i></span> </label>
                    {% for err in form.email.errors %}
                      <small class="text-danger">{{ err }}</small>
                    {% endfor %}
                </div>
                <!-- end section -->

                <div class="section colm colm6">
                  <label class="field prepend-icon">
                    <!-- <input type="text" name="job_title" id="job_title" class="gui-input" placeholder="Job Title"> -->
                    {{ form.phone_number }}
                    <span class="field-icon"><i class="fa fa-phone"></i></span> </label>
                </div>
                <!-- end section -->

                <div class="section">
                  <label class="field prepend-icon">
                    <!-- <input type="text" name="company_name" id="company_name" class="gui-input" placeholder="Enter Company Name"> -->
                    {{ form.company_name }}
                    <span class="field-icon"><i class="fa fa-building"></i></span> </label>
                </div>
                <!-- end section -->

                <div class="section colm colm6">
                  <label class="field select">
                      <!-- <select id="no_of_employees" name="no_of_employees">
              					<option value="" disabled selected>Select size</option>
              					<option value="1-10">1-10</option>
                        <option value="1-10">1-10</option>
                        <option value="1-10">1-10</option>
                    </select> -->
                    {{ form.no_of_employees }}
                    <i class="arrow"></i>
                  </label>
                </div><!-- end section -->

                <div class="section colm colm6">
                  <label class="field select">
                      <!-- <select id="service" name="service">
              					<option value="" disabled selected>Select size</option>
              					<option value="1-10">1-10</option>
                        <option value="1-10">1-10</option>
                        <option value="1-10">1-10</option>
                    </select> -->
                    {{ form.service }}
                    <i class="arrow"></i>
                  </label>
                </div>
                <!-- end section -->

                <div class="section colm colm6">
                  <label class="field select">
                      <!-- <select id="channel" name="channel">
              					<option value="" disabled selected>Select size</option>
              					<option value="1-10">1-10</option>
                        <option value="1-10">1-10</option>
                        <option value="1-10">1-10</option>
                    </select> -->
                    {{ form.channel }}
                    <i class="arrow"></i>
                  </label>
                </div><!-- end section -->

                <div class="section">
                  <label class="field prepend-icon">
                    <!-- <textarea class="gui-textarea" id="message" name="message" placeholder="Enter message"></textarea> -->
                    {{ form.message }}
                    <span class="field-icon"><i class="fa fa-comments"></i></span> <span class="input-hint"> <strong>Hint:</strong> Please enter between 80 - 300 characters.</span> </label>
                </div>
                <!-- end section -->
              </div>
              <!-- end .form-body section -->

              <div>
                <button type="submit" class="button btn-primary orange-2">Submit</button>
                <button type="reset" class="button"> Cancel </button>
              </div>
              <!-- end .form-footer section -->
            </form>
          </div>
          <!-- end .smart-forms section -->
      </div>


      <div class="col-md-4">
      <br/>
          <h4>Address Info</h4>
            {{ company.address_line_1 }} {% if company.address_line_2 %}, {{ company.address_line_2 }} {% endif %} <br />
            {{ company.city }}, {{ company.state }} <br />
            {{ company.country}} <br />
            Postal Code: {{ company.postal_code }} <br />
            Telephone: {{ company.phone }}<br />
            <br />
            E-mail: <a href="mailto:{{ company.email }}">{{ company.email }}</a><br />
            Website: <a href="index.html">{{ company.website_address }}</a>
            <div class="clearfix"></div>
		<br/><br/>
        <h4>Find the Address</h4>

       <!-- <div id="map" class="map">
          <p>This will be replaced with the Google Map.</p>
      </div> -->

        </div>
      </div>
    </div>
  </section>
  <!--end section-->
  <div class="clearfix"></div>

{% endblock %}
