{% extends 'base.html' %}
{% load static %}

{% block content %}
  
  <section>
    <div class="header-inner two">
      <div class="inner text-center">
        <h4 class="title text-white uppercase">We Are Hasta</h4>
        <h5 class="text-white uppercase">Get Many More Features</h5>
      </div>
      <div class="overlay bg-opacity-5"></div>
      <img src="http://placehold.it/1920x800" alt="" class="img-responsive"/> </div>
  </section>
  <!-- end header inner -->
  <div class="clearfix"></div>
  
  <section>
    <div class="pagenation-holder">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3>Team</h3>
          </div>
          <div class="col-md-6 text-right">
            <div class="pagenation_links"><a href="index.html">Home</a><i> / </i> <a href="index.html">Pages</a> <i> / </i> Team</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--end section-->
  <div class="clearfix"></div>
  
  <section class="sec-padding">
  <div class="container">
    <div class="row">
    
    <div class="col-md-9 col-centered text-center">
          <h4 class="text-orange-2 font-weight-3">Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orc Cras laoreet ligul Etiam sit amet dolor</h4>
        </div>
        <br/>
        <br/>
        <div class="divider-line solid light"></div>
        <br/>
        <br/>
        <br/>
        
      <div class="col-xs-12 text-center">
        <h2 class="section-title">Meet Our Team</h2>
        <p class="sub-title">Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent <span class="text-orange-2">mattis commodo</span> augue .</p>
      </div>
      
      <div class="col-md-3 col-sm-6">
        <div class="team-holder2 bmargin">
          <div class="img-holder">
            <div class="icon-box">
              <ul class="social-icons-1">
                <li class="first"><a href="https://twitter.com/codelayers"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/codelayers"><i class="fa fa-facebook"></i></a></li>
                <li><a class="active" href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
            <img src="http://placehold.it/450x550" alt="" class="img-responsive"/> </div>
          <div class="content-box less-pading text-center">
            <h5 class="nomargin title">Charlotte</h5>
            <h6 class="text-orange-2 nopadding">Founder</h6>
            <br/>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing </p>
          </div>
        </div>
      </div>
      <!--end item-->
      
      <div class="col-md-3 col-sm-6">
        <div class="team-holder2 bmargin">
          <div class="img-holder">
            <div class="icon-box">
              <ul class="social-icons-1">
                <li class="first"><a href="https://twitter.com/codelayers"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/codelayers"><i class="fa fa-facebook"></i></a></li>
                <li><a class="active" href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
            <img src="http://placehold.it/450x550" alt="" class="img-responsive"/> </div>
          <div class="content-box less-pading text-center">
            <h5 class="nomargin title">William</h5>
            <h6 class="text-orange-2 nopadding">Manager</h6>
            <br/>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing </p>
          </div>
        </div>
      </div>
      <!--end item-->
      
      <div class="col-md-3 col-sm-6">
        <div class="team-holder2 active bmargin">
          <div class="img-holder">
            <div class="icon-box">
              <ul class="social-icons-1">
                <li class="first"><a href="https://twitter.com/codelayers"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/codelayers"><i class="fa fa-facebook"></i></a></li>
                <li><a class="active" href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
            <img src="http://placehold.it/450x550" alt="" class="img-responsive"/> </div>
          <div class="content-box less-pading text-center">
            <h5 class="nomargin title">Olivia</h5>
            <h6 class="text-orange-2 nopadding">Support</h6>
            <br/>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing </p>
          </div>
        </div>
      </div>
      <!--end item-->
      
      <div class="col-md-3 col-sm-6">
        <div class="team-holder2 bmargin">
          <div class="img-holder">
            <div class="icon-box">
              <ul class="social-icons-1">
                <li class="first"><a href="https://twitter.com/codelayers"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/codelayers"><i class="fa fa-facebook"></i></a></li>
                <li><a class="active" href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
            <img src="http://placehold.it/450x550" alt="" class="img-responsive"/> </div>
          <div class="content-box less-pading text-center">
            <h5 class="nomargin title">Alexander</h5>
            <h6 class="text-orange-2 nopadding">Marketing</h6>
            <br/>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing </p>
          </div>
        </div>
      </div>
      <!--end item--> 
      
      <div class="clearfix"></div>
      <div class="col-divider-margin-4"></div>
      
      <div class="col-md-3 col-sm-6">
        <div class="team-holder2 bmargin">
          <div class="img-holder">
            <div class="icon-box">
              <ul class="social-icons-1">
                <li class="first"><a href="https://twitter.com/codelayers"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/codelayers"><i class="fa fa-facebook"></i></a></li>
                <li><a class="active" href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
            <img src="http://placehold.it/450x550" alt="" class="img-responsive"/> </div>
          <div class="content-box less-pading text-center">
            <h5 class="nomargin title">Charlotte</h5>
            <h6 class="text-orange-2 nopadding">Founder</h6>
            <br/>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing </p>
          </div>
        </div>
      </div>
      <!--end item-->
      
      <div class="col-md-3 col-sm-6">
        <div class="team-holder2 bmargin">
          <div class="img-holder">
            <div class="icon-box">
              <ul class="social-icons-1">
                <li class="first"><a href="https://twitter.com/codelayers"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/codelayers"><i class="fa fa-facebook"></i></a></li>
                <li><a class="active" href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
            <img src="http://placehold.it/450x550" alt="" class="img-responsive"/> </div>
          <div class="content-box less-pading text-center">
            <h5 class="nomargin title">William</h5>
            <h6 class="text-orange-2 nopadding">Manager</h6>
            <br/>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing </p>
          </div>
        </div>
      </div>
      <!--end item-->
      
      <div class="col-md-3 col-sm-6">
        <div class="team-holder2 bmargin">
          <div class="img-holder">
            <div class="icon-box">
              <ul class="social-icons-1">
                <li class="first"><a href="https://twitter.com/codelayers"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/codelayers"><i class="fa fa-facebook"></i></a></li>
                <li><a class="active" href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
            <img src="http://placehold.it/450x550" alt="" class="img-responsive"/> </div>
          <div class="content-box less-pading text-center">
            <h5 class="nomargin title">Olivia</h5>
            <h6 class="text-orange-2 nopadding">Support</h6>
            <br/>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing </p>
          </div>
        </div>
      </div>
      <!--end item-->
      
      <div class="col-md-3 col-sm-6">
        <div class="team-holder2 bmargin">
          <div class="img-holder">
            <div class="icon-box">
              <ul class="social-icons-1">
                <li class="first"><a href="https://twitter.com/codelayers"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/codelayers"><i class="fa fa-facebook"></i></a></li>
                <li><a class="active" href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
            <img src="http://placehold.it/450x550" alt="" class="img-responsive"/> </div>
          <div class="content-box less-pading text-center">
            <h5 class="nomargin title">Alexander</h5>
            <h6 class="text-orange-2 nopadding">Marketing</h6>
            <br/>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing </p>
          </div>
        </div>
      </div>
      <!--end item-->
    </div>
  </div>
</section>
<!-- end section -->
<div class="clearfix"></div> 
  
  
  <section class="section-light sec-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 align-left last">
          <div class="item-holder">
            <h4 class="uppercase">What We Offer</h4>
            <br/>
            <div class="accordion_holder">
              <div class="accordion_example1"> 
                
                <!-- Section 1 -->
                <div class="accordion_in two st2 acc_active">
                  <div class="acc_head">Creative Design</div>
                  <div class="acc_content"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue.</div>
                </div>
                
                <!-- Section 2 -->
                <div class="accordion_in two st2">
                  <div class="acc_head">Graphic Design</div>
                  <div class="acc_content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue.</div>
                </div>
                
                <!-- Section 3 -->
                <div class="accordion_in two st2">
                  <div class="acc_head">Photography</div>
                  <div class="acc_content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue.</div>
                </div>
              </div>
            </div>
          </div>
          <!-- Accordion end --> 
        </div>
        <!--end column-->
        
        <div class="col-md-4 col-sm-6">
          <div class="item-holder">
            <h4 class="uppercase">Our Skills</h4>
            <br/>
            <!--bar-->
            <div class="progress progressbar-style1 ">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"> Javascript 80% </div>
            </div>
            <!--end bar--> 
            <!--bar-->
            <div class="progress progressbar-style1 ">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"> Photoshop 90% </div>
            </div>
            <!--end bar--> 
            <!--bar-->
            <div class="progress progressbar-style1 ">
              <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"> Logo Design 70% </div>
            </div>
            <!--end bar--> 
            <!--bar-->
            <div class="progress progressbar-style1 ">
              <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"> Photography 75% </div>
            </div>
            <!--end bar--> 
          </div>
        </div>
        <!--end column-->
        
        <div class="col-md-4 col-sm-6">
          <div class="item-holder">
            <h4 class="uppercase">People Says</h4>
            <br/>
            <div class="clearfix"></div>
            <div id="owl-demo2" class="owl-carousel">
              <div class="item">
                <div class="testimonials2">
                  <div class="textbox">
                    <div class="arrow-down"></div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo.</p>
                  </div>
                  <div class="image-left">
                    <div class="imgholder">
                    <div class="img-inner overflow-hidden"><img src="http://placehold.it/110x110" alt=""/></div>
                    </div>
                  </div>
                  <div class="text-box-right">
                    <h5 class="less-mar1 paddtop3">Celina John</h5>
                    <span class="text-orange-2">Mediatricks - Support</span> </div>
                </div>
              </div>
              <!--end item-->
              
              <div class="item">
                <div class="testimonials2">
                  <div class="textbox">
                    <div class="arrow-down"></div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue.</p>
                  </div>
                  <div class="image-left">
                    <div class="imgholder">
                    <div class="img-inner overflow-hidden"><img src="http://placehold.it/110x110" alt=""/></div>
                    </div>
                  </div>
                  <div class="text-box-right">
                    <h5 class="less-mar1 paddtop3">Celina John</h5>
                    <span class="text-orange-2">Mediatricks - Support</span> </div>
                </div>
              </div>
              <!--end item--> 
            </div>
          </div>
        </div>
        <!--end column--> 
      </div>
    </div>
  </section>
  <!--end section-->
  <div class="clearfix"></div>
  
{% endblock %}