{% extends 'base.html' %}
{% load static %}

{% block content %}

  <div class="clearfix"></div>

  <section>
    <div class="header-inner two">
      <div class="inner text-center">
        <h4 class="title text-white uppercase">Elevate with GoldRidge</h4>
        <h5 class="text-white uppercase">Invest Wisely, Save Securely, Travel Freely, Live Lavishly</h5>
      </div>
      <div class="overlay bg-opacity-5"></div>
      <img src="http://placehold.it/1920x800" alt="" class="img-responsive"/> </div>
  </section>
  <!-- end header inner -->
  <div class="clearfix"></div>

  <section>
    <div class="pagenation-holder">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3>Frequently Asked Questions</h3>
          </div>
          <div class="col-md-6 text-right">
            <div class="pagenation_links"><a href="{% url 'home' %}">Home</a><i> / </i> <a href="{% url 'faq_categories' %}">FAQ</a></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--end section-->
  <div class="clearfix"></div>

  <section class="sec-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12 bmargin">

          <h3>{{ category.name }}</h3>
          <div class="accordion_holder">
              <div class="accordion_example1">

                <!-- Section 1 -->
                <div class="accordion_in">
                  {% for question in questions %}
                    <div class="acc_head">{{ question.question }}</div>
                    <div class="acc_content"> {{ question.answer }} </div>
                    {% endfor %}
                </div>

                <!-- Section 2 -->
                <div class="accordion_in acc_active">
                  <div class="acc_head">Integer posuere tellus vitae maximus dapibus.</div>
                  <div class="acc_content">Nullam turpis. Cras dapibus, orci rutrum adipiscing luctus, nisl magna tempus urna, id porttitor nunc arcu et mauris. Suspendisse id justo id nisi suscipit porttitor. Pellentesque aliquet, leo id vestibulum eleifend, magna sem iaculis risus, quis volutpat turpis quam in tortor. Morbi euismod nulla aliquet felis. Sed nisi neque, fermentum sit amet, vestibulum et, pretium sit amet, tortor. Nulla egestas pede. Phasellus ac enim. Vivamus risus. Aliquam lacinia ante quis nibh. Curabitur velit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </div>
                </div>

              </div>
            </div>
              <!-- Accordion end -->

          </div>
          <!--end left column-->

          <div class="col-md-4 col-sm-12 col-xs-12 bmargin padding-left-4">
            <div class="col-md-12 col-sm-12 col-xs-12 nopadding bmargin">
              <h5>Categories</h5>
              <ul class="category-links orange-2">
                {% for category in categories %}
                  <li><a href="#">Travel</a></li>
                  <li><a href="{% url 'faq_question' category.id %}">{{ category.name }}</a></li>
                {% endfor %}
              </ul>
            </div>
            <div class="clearfix"></div>
          <!--end right column-->

      </div>
    </div>
  </section>
  <!-- end section -->
  <div class="clearfix"></div>

{% endblock %}