{% extends 'base.html' %}
{% load static %}

{% block content %}

  <div class="clearfix"></div>

  <section>
    <div class="header-inner two">
      <div class="inner text-center">
        <h4 class="title text-white uppercase">Elevate with GoldRidge</h4>
        <h5 class="text-white uppercase">Invest Wisely, Save Securely, Travel Freely, Live Lavishly</h5>
      </div>
      <div class="overlay bg-opacity-5"></div>
      <img src="{% static 'images/banner.png' %}" alt="goldridge banner" class="img-responsive"/> </div>
  </section>
  <!-- end header inner -->
  <div class="clearfix"></div>

  <section>
    <div class="pagenation-holder">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3>Frequently Asked Questions</h3>
          </div>
          <div class="col-md-6 text-right">
            <div class="pagenation_links"><a href="{% url 'home' %}">Home</a><i> / </i> <a href="{% url 'faq' %}">FAQ</a></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--end section-->
  <div class="clearfix"></div>

  <section class="sec-padding">
    <div class="container">
      <div class="row">
          <div class="col-md-8 col-sm-12 col-xs-12 bmargin">
      
            <h3>{{ category.name }}</h3>
            <div class=" divider-line dashed light margin"></div>
              {% for question in questions %}
                <h4>Q. {{ question.question }}</h4>
                <p>{{ question.answer }}</p><br>
              {% endfor %}
            </div> 
              <!--end left column-->

          <div class="col-md-4 col-sm-12 col-xs-12 bmargin padding-left-4">
            <div class="col-md-12 col-sm-12 col-xs-12 nopadding bmargin">
              <h5><a href="{% url 'faq' %}">Categories</a></h5>
              <ul class="category-links orange-2">
                {% for category in categories %}
                  <li><a href="{% url 'faq_question' category.id %}">{{ category.name }}</a></li>
                {% endfor %}
              </ul>
            </div>
            <div class="clearfix"></div>
          <!--end right column-->

      </div>
    </div>
  </section>
  <!-- end section -->
  <div class="clearfix"></div>

{% endblock %}