{% extends 'base.html' %}
{% load static %}

{% block content %}

  <div class="clearfix"></div>
  
  <section class="parallax-section67">
    <div class="section-overlay bg-opacity-5">
      <div class="container sec-tpadding-3 sec-bpadding-3">
        <div class="row">
          
          <div class="col-md-12">
        <div class="countdown_holder">
        <h1 class=" text-white uppercase font-weight-7">Site is Under Maintenance</h1>
        <h4 class="text-white">Our website is under construction. We`ll be here soon with our new web site, get notified at launch.</h4>
          <div id="clock"></div>
          <br/>
          <a class="btn btn-orange-2 btn-round" href="#">Learn more</a> <a class="btn btn-orange-2 btn-round" href="#">Contact Support</a>
        </div>
        
      </div>
          
        </div>
      </div>
    </div>
  </section>
  <!--end section-->
  <div class="clearfix"></div>
  
{% endblock %}