
<section class="sec-moreless-padding section-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="nomargin droid-serif less-mar1">
            Get
            <span style="font-weight: bolder;color: #ea3628;">10% OFF</span>
            Our Services Now
        </h3>
          <p>Delivering bespoke Software, Web and Mobile Development services, Digital Marketing services, Data Mining and Analytics services.</p>
        </div>
        <div class="col-md-12">
          <div class="margin-top1"></div>
          <a class="glow-btn btn btn-red-2 pull-left btn-large" href="{% url 'contact_us' %}" >Contact Us</a>
        </div>
      </div>
    </div>
  </section>
  <!-- end section -->
  <div class="clearfix"></div>