
<section class="section-light section-less-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="nomargin droid-serif less-mar1">
          Get
          <span style="font-weight: bolder;color: #ea3628;;">10% OFF NOW</span>
          sales ends in a couple of hours.
        </h3>
        <p class="text-dark">contact us and Harness the power of web/mobile development, digital marketing, and data science, in a fun, empathetic and innovative manner.</p>
      </div>
      <div class="col-md-12">
        <div class="margin-top2"></div>
        <a class="glow-btn btn btn-red-2 btn-large pull-right" href="{% url 'contact_us' %}">Contact Us</a> </div>
    </div>
  </div>
</section>
<!--end section-->
<div class="clearfix"></div>