{% load static %}
<div class="clearfix"></div>
  
  <section class="section-fulldark sec-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-12 colmargin clearfix">
           <!------------ Footer Website Logo ------------>
           
          <div class="footer-logo navbar-brand"><img src="{{ company_links.logo.url }}" alt="GoldRidge Logo"/></div><br/><br/><br/><br/>
          <ul class="address-info no-border">
            <li><i class="fa fa-map-marker"></i>{{ company_links.address_line_1 }}, {{ company_links.address_line_2 }}, {{ company_links.city }},
              {{ company_links.state }}, {{ company_links.country }}.</li>


            <li><i class="fa fa-phone"></i>  Mobile: +234 {{ company_links.phone }}</li>
            <!-- <li><i class="fa fa-fax"></i> Fax: + 1 (234) 567 8901</li> -->
            <li class="last"><i class="fa fa-envelope"></i>Email: {{ company_links.email }} </li>
            <li><a class="btn btn-orange-2" href="{% url 'contact_us' %}">Contact Us</a></li>
          </ul>
        </div>
        <!--end item-->
        
        <div class="col-md-3 col-sm-12 colmargin clearfix">
          <h4 class="uppercase footer-title less-mar3">Recent Articles</h4>
          <div class="footer-title-bottomstrip"></div>
          {% for article in articles_links %}
          <div class="image-left">
            <div class="fo-postimg-inner overflow-hidden"><img src="{{ article.image.url }}" alt="" class="img-responsive"/>/></div>
          </div>
  
          <div class="text-box-right">
            <h5 class="text-black less-mar3"><a href="{{ article.get_url }}">{{ article.article_title }}</a></h5>
            <span>{{ article.article_title }}</span>
            <div class="footer-post-info"> <span>
              By
              {% for author in article.article_author.all %}
                {% if forloop.first %}
                  {{ author.first_name }}
                {% endif %}
              {% endfor %}
            </span> </div>
          </div>
          <div class="divider-line solid dark margin opacity-5"></div>
          {% endfor %}
          <!-- <div class="image-left">
            <div class="fo-postimg-inner overflow-hidden"><img src="http://placehold.it/80x80" alt=""/></div>
          </div>
          <div class="text-box-right">
            <h5 class="text-white less-mar3"><a href="#">Clean And Modern</a></h5>
            <span>Lorem ipsum dolor sit</span>
            <div class="footer-post-info"> <span>By John Doe</span><span> May 20</span> </div>
          </div> -->
        </div>
        <!--end item-->
        
        <div class="col-md-3 col-sm-12 colmargin clearfix">
          <h4 class="uppercase footer-title less-mar3">Tags</h4>
          <div class="footer-title-bottomstrip"></div>
          <ul class="footer-tags">
            <li><a href="#">Animation</a></li>
            <li><a href="#">Art</a></li>
            <li><a href="#">Photography</a></li>
            <li><a class="active" href="#">Design</a></li>
            <li><a href="#">Responsive</a></li>
            <li><a href="#">Develop</a></li>
            <li><a href="#">Branding</a></li>
            <li><a href="#">Clean</a></li>
          </ul>
        </div>
        <!--end item-->
        
        <div class="col-md-3 col-sm-12 colmargin tex-left clearfix">
          <h4 class="uppercase footer-title less-mar3">useful links</h4>
          <div class="footer-title-bottomstrip"></div>
          <div class="clearfix"></div>
          <ul class="usefull-links tex-left no-border">
            <li><a href="{% url 'home' %}"><i class="fa fa-angle-right"></i> Home</a></li>
            <li><a href="{% url 'company' %}"><i class="fa fa-angle-right"></i> About Us</a></li>
            <li><a href="{% url 'blog' %}"><i class="fa fa-angle-right"></i> Blog</a></li>
            <li><a href="{% url 'contact_us' %}"><i class="fa fa-angle-right"></i> Contact Us</a></li>
          </ul>
        </div>
        <!--end item--> 
        
      </div>
    </div>
  </section>
  <!--end section-->
  <div class="clearfix"></div>
  
  <section class="section-copyrights section-less-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class=" social-icons-3">
            <li><a href="https://twitter.com/codelayers"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/codelayers"><i class="fa fa-facebook"></i></a></li>
            
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="active" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a href="#"><i class="fa fa-wordpress"></i></a></li>
            <li><a href="#"><i class="fa fa-android"></i></a></li>
          </ul>
          <div class="clearfix"></div>
          <br/>
          <span class="text-orange-2">Copyright © 2020 Powered By <a href="https://webstacka.com">Webstacka Group</a> | All rights reserved.</span></div>
      </div>
    </div>
  </section>
