{% extends 'base.html' %}
{% load static %}

{% block content %}

  <div class="clearfix"></div>
  
  <section class="parallax-section66">
    <div class="section-overlay bg-opacity-5">
      <div class="container sec-tpadding-3 sec-bpadding-3">
        <div class="row">
          
          <div class="col-md-12">
        <div class="countdown_holder">
        <h1 class=" text-white uppercase font-weight-7">Coming Soon</h1><br/>
          <div id="clock"></div>
          <br/>
          <h4 class="text-white">Our website is under construction. We`ll be here soon with our new web site, get notified at launch.</h4>
        </div>
        
      </div>
          
          
          
        </div>
      </div>
    </div>
  </section>
  <!--end section-->
  <div class="clearfix"></div>
  
{% endblock %}