{% extends 'base.html' %}
{% load static %}
{% load myapp_tags %}

{% block content %}

{% comment %} {% include 'includes/newsletter.html' %} {% endcomment %}

  <section>
    <div class="header-inner two">
      <div class="inner text-center">
        <h4 class="title text-white uppercase">Elevate with GoldRidge</h4>
        <h5 class="text-white uppercase">Invest Wisely, Save Securely, Travel Freely, Live Lavishly</h5>
      </div>
      <div class="overlay bg-opacity-5"></div>
      <img src="http://placehold.it/1920x800" alt="" class="img-responsive"/> </div>
  </section>
  <!-- end header inner -->
  <div class="clearfix"></div>

  <section>
    <div class="pagenation-holder">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3 class="capitalize">{{ article.article_title}}</h3>
          </div>
          <div class="col-md-6 text-right">
            <div class="pagenation_links"><a href="{% url 'home' %}">Home</a><i> / </i> <a href="{% url 'blog' %}">Blog</a> <i> / </i>{{ article.article_title}}</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--end section-->
  <div class="clearfix"></div>

  <section class="sec-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12 bmargin">
          <div class="col-md-12 bmargin">
            <div class="blog-holder-12">
              <div class="image-holder">
                <div class="overlay bg-opacity-1">
                  <div class="post-date-box three"> {{ article.created_date|date:"d" }} <span>{{ article.created_date|date:"M, Y" }}</span> </div>
                </div>
                <img class="img-responsive" alt="" src="{{ article.image.url }}" style="width: 100%;height: 400px;"> </div>
            </div>
            <div class="clearfix"></div>
            <br/>
            <a href="#">
            <h4 class="less-mar1">{{ article.article_subtitle}}</h4>
            </a>
            <div class="blog-post-info capitalize">
              <span><i class="fa fa-user"></i>
              By
              {% for author in article.article_author.all %}
                  {% if not forloop.first %}
                    ,
                  {% endif %}
                  {{ author.full_name }}
              {% endfor %}
            </span>
            <span><i class="fa fa-comments-o"></i> 15 Comments</span>
          </div>
            <br/>
          {% for paragraph in paragraphs %}
            {% if forloop.counter|divisibleby:4 %}
              <div class="clearfix"></div>
              {% include 'includes/CTA_1.html' %}
            {% elif forloop.counter|divisibleby:6 %}
              <div class="clearfix"></div>
              {% include 'includes/CTA_2.html' %}
            {% endif %}
            <h5 class="less-mar3"><a href="#">{{ paragraph.paragraph_title }}</a></h5>
            {% with paragraph.paragraph_content|split:'/n/n' as phrases %}
            {% for phrase in phrases %}
            <p class="less-mar3">{{ phrase }}</p>
            {% endfor %}
            {% endwith %}
            <br/>
          {% endfor %}
            <!-- <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue. Aliquam ornare hendrerit augue. Cras tellus. In pulvinar lectus a est. Curabitur eget orci. Cras laoreet ligula. Etiam sit amet dolor. Vestibulum Curabitur eget orci. </p>
            <br/>
            <h4 class="less-mar3"><a href="#">Aliquam ornare hendrerit augue</a></h4>
            <br/>
            <ul class="iconlist dark">
              <li><i class="fa fa-check"></i> Sed massa tellus aliquam rhoncus venenatis quis. </li>
              <li><i class="fa fa-check"></i> Development dolor sit amet consectetur adipiscing elit Phasellus </li>
              <li><i class="fa fa-check"></i> Etiam dictum Nunc enim Sed massa tellus aliquam rhoncus venenatis</li>
              <li><i class="fa fa-check"></i> Magna eget scelerisque metus massa in neque sit consectetur </li>
            </ul> -->
            <br/>
            <h4 class="less-mar3"><a href="#">Share this Article</a></h4>
            <br/>
            <ul class="social-icons-2">
              <li><a href="https://twitter.com/goldridge"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.facebook.com/goldridge"><i class="fa fa-facebook"></i></a></li>

              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
            </ul>
            <div class="clearfix"></div>
            <br/>
            <div class="blog1-post-info-box">
              {% for paragraph in paragraphs %}
                {% if forloop.counter|divisibleby:4 %}
                  <div class="clearfix"></div>
                  {% include 'includes/CTA_1.html' %}
                {% elif forloop.counter|divisibleby:6 %}
                  <div class="clearfix"></div>
                  {% include 'includes/CTA_2.html' %}
                {% endif %}
                <h5 class="less-mar3"><a href="#">{{ paragraph.paragraph_title }}</a></h5>
                {% with paragraph.paragraph_content|split:'/n/n' as phrases %}
                {% for phrase in phrases %}
                <p class="less-mar3">{{ phrase }}</p>
                {% endfor %}
                {% endwith %}
                <br/>
              {% endfor %}
            <!--end item-->
            <div class="clearfix"></div>
            <br/>
            <br/>
            <h4 class="less-mar3"><a href="#">Latest Posts</a></h4>
            <br/>
            {% for latest in articles %}
            <div class="col-md-4 bmargin">
              <div class="image-holder"><a href="#"><img src="{{ latest.image.url }}" alt="" class="img-responsive"/></a></div>
              <div class="clearfix"></div>
              <h5 class="dosis uppercase less-mar1"><a href=href="{{ latest.get_url }}">{{ latest.article_title }}</a></h5>
              <div class="blog1-post-info">
                <span>
                  By
                  {% for author in latest.article_author.all %}
                  {% if forloop.first %}
                    {{ author.first_name }}
                  {% endif %}
                  {% endfor %}
                </span
                ><span> {{ latest.created_date|date:"M d" }}</span> </div>
            </div>
            <!--end item-->
            {% endfor %}

            {% comment %} <div class="col-md-4 bmargin">
              <div class="image-holder"><a href="#"><img src="http://placehold.it/1000x800" alt="" class="img-responsive"/></a></div>
              <div class="clearfix"></div>
              <h5 class="dosis uppercase less-mar1"><a href="#">Aliquam ornare</a></h5>
              <div class="blog1-post-info"> <span>By John Doe</span><span> May 20</span> </div>
            </div>
            <!--end item-->

            <div class="col-md-4 bmargin">
              <div class="image-holder"><a href="#"><img src="{{ latest.image.url }}" alt="" class="img-responsive"/></a></div>
              <div class="clearfix"></div>
              <h5 class="dosis uppercase less-mar1"><a href=href="{{ latest.get_url }}">{{ latest.article_title }}</a></h5>
              <div class="blog1-post-info"> <span>By John Doe</span><span> May 20</span> </div>
            </div>
            <!--end item--> {% endcomment %}

            <div class="clearfix"></div>


          </div>
          <!--end item-->

        </div>
        <!--end left column-->

        <div class="col-md-4 col-sm-12 col-xs-12 bmargin">

          <div class="col-md-12 col-sm-12 col-xs-12 ">
            <h5>Search</h5>
            <div class="clearfix"></div>
            <form class="" action="{% url 'search' %}" method="GET">
              {% csrf_token %}
              <input class="blog1-sidebar-serch_input" type="search" name="keyword" placeholder="Keyword">
              <input name="" value="Submit" class="blog1-sidebar-serch-submit" type="submit">
            </form>
          </div>
          <div class="clearfix"></div>
          <br/>

          <div class="col-md-12 col-sm-12 col-xs-12 nopadding bmargin">
            <h5 class="uppercase font-weight-3">Latest Posts</h5>
            <div class="clearfix"></div>
            {% for latest in articles %}
            <div class="sidebar-posts">
              <div class="image-left"><img src="{{ latest.image.url }}" alt="" style="width: 80px; height:80px"/></div>
              <div class="text-box-right">
                <h6 class="less-mar3 nopadding"><a href="{{ latest.get_url }}">{{ latest.article_title }}</a></h6>
                <p>{{ latest.article_subtitle }}</p>
                <div class="post-info capitalize">
                  <span>
                  By
                  {% for author in latest.article_author.all %}
                  {% if forloop.first %}
                    {{ author.first_name }}
                  {% endif %}
                  {% endfor %}
                  </span>
                  <span>{{ latest.created_date|date:"M d" }}</span>
                </div>
              </div>
            </div>
            <!--end item-->
            {% endfor %}
          </div>
          <!--end sidebar box-->

          <div class="clearfix"></div>
          <br/>
          <div class="col-md-12 col-sm-12 col-xs-12 nopadding bmargin">
            <h5 class="uppercase font-weight-3">Tags</h5>
            <div class="clearfix"></div>
            <ul class="tags-2">
              {% with article.tags|split:', ' as tags %}
              {% for tag in tags %}
              <li><a href="{% url 'blog_by_keyword' keyword=tag %}">{{ tag }}</a></li>
              {% endfor %}
              {% endwith %}
            </ul>
          </div>
          <!--end sidebar box-->

          <div class="clearfix"></div>
          <br/>


        </div>
        <!--end right column-->
      </div>
    </div>
  </section>
  <!-- end section -->
  <div class="clearfix"></div>


{% endblock %}