{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="clearfix"></div>
  
  <section>
    <div class="header-inner two">
      <div class="inner text-center">
        <h4 class="title text-white uppercase">Elevate with GoldRidge</h4>
        <h5 class="text-white uppercase">Invest Wisely, Save Securely, Travel Freely, Live Lavishly</h5>
      </div>
      <div class="overlay bg-opacity-5"></div>
      <img src="{% static 'images/banner.png' %}" alt="goldridge banner" class="img-responsive"/> </div>
  </section>
  <!-- end header inner -->
  <div class="clearfix"></div>
  
  <section>
    <div class="pagenation-holder">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3>About Us</h3>
          </div>
          <div class="col-md-6 text-right">
            <div class="pagenation_links"><a href="{% url 'home' %}">Home</a><i> / </i><a href="{% url 'contact_us' %}">About Us</a></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--end section-->
  <div class="clearfix"></div>
  
  <section class="sec-padding">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h2 class="section-title">What Sets Us Apart</h2>
          <!-- <p class="sub-title">Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent <span class="text-orange-2">mattis commodo</span> augue .</p> -->
        </div>
        <div class="clearfix"></div>
        
        <div class="col-md-6"> 
          <img src="{% static 'images/about_new.png' %}" alt="About_Us Picture" class="img-responsive"/> 
        </div>
        <!--end item-->
        
        <div class="col-md-6">
          <h5>– Business Overview</h5>
          <p>
            {{ company_overview.business_overview }}
          </p>
          <br/>
          <h5>– Our Competive Advantage</h5>
          <p>
            {{ company_overview.competive_advantage }}
          </p>
        </div>
        <!--end item--> 
      </div>
    </div>
  </section>
  <!--end section-->
  <div class="clearfix"></div>
  
  <section class="sec-bpadding-2">
    <div class="container">
      <div class="row">
      
        <div class="col-md-4 col-sm-6">
          <div class="feature-box1 bmargin">
            <div class="iconbox-tiny left round grayoutline2"><span class="icon-pencil" data-icon="&#xe08b;"></span></div>
            <div class="text-box-right">
              <h4>Our Vision</h4>
              <p>{{ company_overview.vision }}</p>
            </div>
            </div>
        </div>
        <!--end item -->
        
        <div class="col-md-4 col-sm-6">
          <div class="feature-box1 bmargin">
            <div class="iconbox-tiny left round grayoutline2"><span class="icon-flag" data-icon="&#xe085;"></span></div>
            <div class="text-box-right">
              <h4>Our Mission</h4>
              <p>{{ company_overview.mission }}</p>
            </div>
            </div>
        </div>
        <!--end item -->
        
        <div class="col-md-4 col-sm-6 last">
          <div class="feature-box1 bmargin">
            <div class="iconbox-tiny left round grayoutline2"> <span class="icon-target" data-icon="&#xe089;"></span></div>
            <div class="text-box-right">
              <h4>Our Goal</h4>
              <p>{{ company_overview.goal }}</p>
            </div>
            </div>
        </div>
        <!--end item --> 
        
      </div>
    </div>
  </section>
  <!--end section-->
  <div class="clearfix"></div>

  <section class="sec-padd-default-page">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h6 class="nopadding lspace-1">Who We Are</h6>
          <h1 class="paddtop1 dosis font-weight-5 lspace-sm"><span class="text-orange-2">Me</span>et O<span class="text-orange-2">ur</span>
            Te<span class="text-orange-2">am</span></h1>
          <div class="title-line-4 align-center"></div>
        </div>
        <div class="clearfix"></div>
        {% for employee in staff %}
        <div class="col-md-4 col-sm-6">
          <div class="team-holder15 two bmargin">
            <div class="team-member"><img src="{{ employee.photo.url }}" alt="http://placehold.it/500x450" class="img-responsive"/></div>
            <div class="info-box text-center">
            <h5 class="uppercase less-mar2">{{ employee.full_name }}</h5>
            <span class="text-orange-2">{{ employee.job_title }}</span> <br/>
            <br/>
              <p>{{ employee.about }}</p>
            </div>
          </div>
        </div>
        <!--end item-->
        {% endfor %}
        
      </div>
    </div>
  </section>
  <div class="clearfix"></div>
  <!--end section-->
  
  <section class="parallax-section69">
    <div class="section-overlay bg-opacity-7">
      <div class="container sec-tpadding-3 sec-bpadding-3">
        <div class="row slide-controls-color-13">
          <div class="col-md-8 col-centered">
            
            <div class="col-xs-12 text-center">
              <h6 class="nopadding lspace-1 text-white">Our Clients</h6>
              <h1 class="paddtop1 dosis font-weight-5 text-white lspace-sm">People Sa<span class="text-orange-2">ys</span></h1>
              <div class="title-line-4 white align-center"></div>
            </div>
            <div class="clearfix"></div>
            <div id="owl-demo3" class="owl-carousel text-white">
              {% for Testimonial in Testimonials %}
              <div class="item">
                <blockquote class="style1"><span>{{ Testimonial.description }}</span> </blockquote>
                <br/>
                <h5 class="text-white less-mar1">{{ Testimonial.client_full_name }}</h5>
                <span class="text-orange-2">{{ Testimonial.client_location }}</span> 
              </div>
              <!--end slide item-->
              {% endfor %}
            </div>
            <!--end carousel --> 
            
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--end section-->
  <div class="clearfix"></div>
  
{% endblock %}

<!-- **Testimonial 1:**

*Description*: GoldRidge has transformed my financial future. Their investment options are second to none. I've never felt more secure about my savings.

*Client Full Name*: Amina Ofori

*Client Location*: Accra, Ghana

**Testimonial 2:**

*Description*: I've tried several savings platforms, but GoldRidge stands out. Their interest rates and ease of use are unbeatable. 

*Client Full Name*: Samuel Njoroge

*Client Location*: Nairobi, Kenya

**Testimonial 3:**

*Description*: GoldRidge is the best choice for wealth growth. Their customer service is top-notch, making me feel truly valued.

*Client Full Name*: Mariam Sarr

*Client Location*: Dakar, Senegal -->