{% extends 'base.html' %}
{% load static %}

{% block content %}

  <section>
    <div class="header-inner two">
      <div class="inner text-center">
        <h4 class="title text-white uppercase">We Are Webstacka</h4>
        <h5 class="text-white uppercase">Be Digital Be Better</h5>
      </div>
      <div class="overlay bg-opacity-5"></div>
      <img src="{% static 'images/servers.jpg' %}" alt="" class="img-responsive"/> </div>
  </section>
  <!-- end header inner -->
  <div class="clearfix"></div>

  <section>
    <div class="pagenation-holder">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3>About Us</h3>
          </div>
          <div class="col-md-6 text-right">
            <div class="pagenation_links"><a href="{% url 'home' %}">Home</a><i> / </i>About Us</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--end section-->
  <div class="clearfix"></div>

  <section class="sec-padding">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h2 class="section-title">Why Choose Us</h2>
          <!-- <p class="sub-title">Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent <span class="text-orange-2">mattis commodo</span> augue .</p> -->
        </div>
        <div class="clearfix"></div>

        <div class="col-md-6">
          <!-- <img src="http://placehold.it/800x600" alt="" class="img-responsive"/> <br/> -->
          <!-- <h3 class="text-orange-2">Why Choose Us</h3> -->
          <h5>- Our Competive Advantage</h5>
          <p>{{ company_overview.competive_advantage }}</p>
          <div class="video-wrapper">
            <a href="#"><img src="{% static 'images/about_us.jpg' %}" alt="http://placehold.it/1600x900" class="img-responsive"/></a>
            <!-- <video controls poster="http://placehold.it/1600x900">
              <source type="video/webm" src="https://codelayers.net/videos/Applead.webm">
              <source type="video/mp4" src="https://codelayers.net/videos/Applead.mp4">
              <source type="video/ogg" src="https://codelayers.net/videos/Applead.ogv">
            </video> -->
          </div>
        </div>
        <!--end item-->

        <div class="col-md-6">
          <h5>– Business Overview</h5>
          <p>{{ company_overview.business_overview }}</p>
          <br/>
          <h5>– Our Mission</h5>
          <p>{{ company_overview.mission_statement }}</p>
          <br/>
          <h5>– Our Vision</h5>
          <p>{{ company_overview.vision }}</p>
          <br/>
          <h5>– Our Philosopy</h5>
          <p>{{ company_overview.philosophy }}</p>
        </div>
        <!--end item-->

      </div>
    </div>
  </section>
  <!--end section-->
  <div class="clearfix"></div>

  {% include 'includes/CTA_1.html' %}

  <section>
  <div class="container">
  <div class="divider-line solid light opacity-7"></div>
    <div class="row sec-padding">

      <div class="col-xs-12 text-center">
        <h6 class="nopadding lspace-1">What We Do</h6>
        <h1 class="paddtop1 dosis font-weight-5 lspace-sm">Our Servi<span class="text-orange-2">ces</span></h1>
        <div class="title-line-4 align-center"></div>
      </div>

      {% for service in services %}
      <div class="col-md-4 col-sm-6 col-xs-12 bmargin"> <a href="#"><img src="{{ service.image.url }}" alt="" class="img-responsive"/></a> <br/>

          <h4 class="uppercase font-weight-3"><a href="#">{{service.service_name}}</a></h4>
          <p>{{ service.service_description }}</p>
          <br/>
          <a class="btn btn-warning dark btn-round btn-small" href="#">Read more</a>



      </div>
      <!--end item-->
      {% endfor %}


    </div>
  </div>
</section>
<div class="clearfix"></div>
<!-- end section -->

  <section class="sec-padding">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 text-center">
          <h6 class="nopadding lspace-1">Who We Are</h6>
          <h1 class="paddtop1 dosis font-weight-5 lspace-sm">Meet Our Te<span class="text-orange-2">am</span></h1>
          <div class="title-line-4 align-center"></div>
        </div>
        {% for employee in staff %}
        <div class="col-md-4 col-sm-6">
          <div class="team-holder7 two bmargin">
            <div class="team-member"><img src="{{ employee.photo.url }}" alt="http://placehold.it/500x500" class="img-responsive"/></div>
            <div class="info-box text-center">
              <h4 class="uppercase oswald font-weight-3 less-mar2">{{ employee.full_name }}</h4>
              <span class="text-orange-2">{{ employee.job_title }}</span> <br/>
              <br/>
              <p>{{ employee.about }}</p>
              <br/>
              <ul class="social-icons">
                <li><a href="https://www.facebook.com/codelayers"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/codelayers"><i class="fa fa-twitter"></i></a></li>

                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!--end item-->
        {% endfor %}

      </div>
    </div>
  </section>
  <div class="clearfix"></div>
  <!--end section-->

  {% include 'includes/CTA_2.html' %}

{% endblock %}
