{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="clearfix"></div>
  
  <section>
    <div class="header-inner two">
      <div class="inner text-center">
        <h4 class="title text-white uppercase">Elevate with GoldRidge</h4>
        <h5 class="text-white uppercase">Invest Wisely, Save Securely, Travel Freely, Live Lavishly</h5>
      </div>
      <div class="overlay bg-opacity-5"></div>
      <img src="http://placehold.it/1920x800" alt="" class="img-responsive"/> </div>
  </section>
  <!-- end header inner -->
  <div class="clearfix"></div>
  
  <section>
    <div class="pagenation-holder">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3>About Us</h3>
          </div>
          <div class="col-md-6 text-right">
            <div class="pagenation_links"><a href="{% url 'home' %}">Home</a><i> / </i><a href="{% url 'contact_us' %}">About Us</a></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--end section-->
  <div class="clearfix"></div>
  
  <section class="sec-padding">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h2 class="section-title">What Sets Us Apart</h2>
          <!-- <p class="sub-title">Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent <span class="text-orange-2">mattis commodo</span> augue .</p> -->
        </div>
        <div class="clearfix"></div>
        
        <div class="col-md-6"> 
          <img src="http://placehold.it/800x600" alt="" class="img-responsive"/> 
        </div>
        <!--end item-->
        
        <div class="col-md-6">
          <h5> Business Overview</h5>
          <p>
            {{ company_overview.business_overview }}
            GoldRidge is a leading financial institution committed to empowering individuals and businesses on their path to financial success. With a dedication to ethical practices and unwavering customer service, we provide a wide array of services, including 
            asset management, investment strategies, and innovative savings solutions. Our primary mission is to put our clients first, building long-lasting relationships based on trust and delivering comprehensive resources to meet their financial goals. We are 
            driven by the belief that financial prosperity should be accessible to all, and we invite you to join us on this journey to secure your financial future.
          </p>
          <br/>
          <h5>Our Competive Advantage</h5>
          <p>
            {{ company_overview.competive_advantage }}
            At GoldRidge Multipurpose Cooperative Society Limited, our unwavering commitment to your financial well-being is what sets us apart. We uphold the highest security standards. GoldRidge employs cutting-edge encryption technology to safeguard your data, 
            backed by two-factor authentication for every customer account. Your funds are not only safe but also secure with us. Our competitive advantage is rooted in a vision, mission, and goal that prioritize your financial security and success.
          </p>
        </div>
        <!--end item--> 
      </div>
    </div>
  </section>
  <!--end section-->
  <div class="clearfix"></div>
  
  <section class="sec-bpadding-2">
    <div class="container">
      <div class="row">
      
        <div class="col-md-4 col-sm-6">
          <div class="feature-box1 bmargin">
            <div class="iconbox-tiny left round grayoutline2"><span class="icon-eye" data-icon="&#xe08b;"></span></div>
            <div class="text-box-right">
              <h4>Our Vision</h4>
              <p>{{ company_overview.vision }}</p>
            </div>
        </div>
        <!--end item -->
        
        <div class="col-md-4 col-sm-6">
          <div class="feature-box1 bmargin active">
            <div class="iconbox-tiny left round grayoutline2"><span class="icon-flag" data-icon="&#xe085;"></div>
            <div class="text-box-right">
              <h4>Our Mission</h4>
              <p>{{ company_overview.mission }}</p>
            </div>
        </div>
        <!--end item -->
        
        <div class="col-md-4 col-sm-6 last">
          <div class="feature-box1 bmargin">
            <div class="iconbox-tiny left round grayoutline2"> <span class="icon-target" data-icon="&#xe089;"></span></div>
            <div class="text-box-right">
              <h4>Our Goal</h4>
              <p>{{ company_overview.goal }}</p>
            </div>
        </div>
        <!--end item --> 
        
      </div>
    </div>
  </section>
  <!--end section-->
  <div class="clearfix"></div>
  
  <section class="parallax-section8">
    <div class="section-overlay bg-opacity-7">
      <div class="container sec-tpadding-2 sec-bpadding-2">
        <div class="row">
         <h2 class="section-title text-white">People Says</h2>
                <br/>
                
          <div id="owl-demo3" class="owl-carousel text-white">
            {% for test in testimonials %}
            <div class="item">
              <blockquote class="style1"><span>{{ test.description }}</span> </blockquote>
              <br/>
              <h5 class="text-white less-mar1">{{ test.client_full_name }}</h5>
              <span class="text-orange-2">{{ test.client_location }}</span> 
            </div>
            <!--end slide item-->
            {% endfor %}
          </div>
          <!--end carousel--> 
          
        </div>
      </div>
    </div>
  </section>
  <!--end section-->
  <div class="clearfix"></div>
  
{% endblock %}

<!-- **Testimonial 1:**

*Description*: GoldRidge has transformed my financial future. Their investment options are second to none. I've never felt more secure about my savings.

*Client Full Name*: Amina Ofori

*Client Location*: Accra, Ghana

**Testimonial 2:**

*Description*: I've tried several savings platforms, but GoldRidge stands out. Their interest rates and ease of use are unbeatable. 

*Client Full Name*: Samuel Njoroge

*Client Location*: Nairobi, Kenya

**Testimonial 3:**

*Description*: GoldRidge is the best choice for wealth growth. Their customer service is top-notch, making me feel truly valued.

*Client Full Name*: Mariam Sarr

*Client Location*: Dakar, Senegal -->